https://github.com/MCninja11/GloomyGames.git
echo "# GloomyGames" >> README.md
git init
git add README.md
git commit -m "first commit"
git remote add origin https://github.com/MCninja11/GloomyGames.git
git push -u origin master
